version: "3.9"

services:
  ocr_app:
    build: .
    container_name: ocr_app
    image: ocr-app:latest
    command: python main.py video.mp4
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app
      - ./outputs:/app/outputs
