opencv-python
Pillow

# for cpu
# paddleocr==2.7.0.3
# paddlepaddle==3.1.1
# paddlex==3.0.2
# for gpu
paddleocr==2.7.0.3
paddlepaddle-gpu==2.6.2
opencv-python==4.10.0.84
# paddle ocr option, should keep exact versions

pyclipper==1.3.0.post5
shapely==2.0.5
rapidfuzz
email-validator
imagehash
pandas
tqdm